/* CSS RESET */
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box; /* comportamento de borda a borda, não do component*/
}

body {
	background: rgb(0,0,0);
	background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,54,151,1) 100%);
}
